{% extends 'bootstrap/base.html' %}

{% block title %}Restaurants{% endblock %}

{% block content %}

        {% block styles%}
        {{super()}}
        <link rel="stylesheet" href="{{ url_for('.static',filename='css/styles.css') }}">
        {%endblock%}

<div class="container">
  <div class="row">
    <div class="col-sm-12">

      <h1>All Cafes</h1>

	  <table class="table">
          <!-- This is where you will write the code to render a Bootstrap
          Table that contains all the information from the
          cafe-data.csv file. -->
              {% for caf in cafes%}

               <thead>
                <tr>
                    {% for i in caf%}

                        {% if i[:4] == 'http' %}
                            <th scope="col"> <a href={{i}}>Maps link</a> </th>
                          {% else %}
                            <th scope="col">{{i}}</th>
                        {% endif %}
                    {%endfor%}
                </tr>
              </thead>

              {%endfor%}
  	  </table>

      <p><a href="{{url_for('home')}}">Return to index page</a></p>

    </div>
  </div>
</div>

{% endblock %}



